/.settings/
/target/
.*.swp
/.project
/.settings/
.DS_Store
/build/
/.gradle/
/servers/daytrader7Sample/apps
/servers/daytrader7Sample/logs
/servers/daytrader7Sample/workarea
/servers/daytrader7Sample/messaging
/servers/daytrader7Sample/tranlog
/servers/daytrader7Sample/derby.log
/shared/*